header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #8479E1;
    color: rgb(0, 0, 0);
    padding: 20px;
    color: rgb(255, 255, 255);
}
nav{
     background-color: #B4ECE3;
     color: rgb(7, 7, 7);
}
section{
    display: grid;
    grid-template-columns: ifr ifr ifr ifr;
}
article{
      background-color: #733C3C;
    grid-column:1/4;
}
aside{
    background-color: #fcf4cd;
    padding: 30px;
    grid-column:4/5;
}
footer{
    background-color: #8479E1;
    color: rgb(255, 250, 250);
    padding: 10px;
}
    
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}